/*
 * Citizen
 *
 * All LESS variables used in the skin must be defined here.
 * Prefer CSS variables from tokens.less where possible.
 * Only import this stylesheet when LESS variables are necessary.
 *
 * Related files:
 * - Citizen tokens: skins.citizen.styles/tokens.less
 * - Override MW skin default variables: mediawiki.less/mediawiki.skin.variables.less
 */

/* == Imports == */

/*
 * MediaWiki mixins
 * @see https://github.com/wikimedia/mediawiki/blob/master/resources/src/mediawiki.less/mediawiki.mixins.less
 */
@import 'mediawiki.mixins';

/*
 * MediaWiki skin variables
 * @see https://github.com/wikimedia/mediawiki/blob/master/resources/src/mediawiki.less/mediawiki.skin.defaults.less
 */
@import 'mediawiki.skin.variables.less';

/* == Spacing == */
@space-unit: 1rem;

/* == Fonts == */
/*
 * --font-family-citizen-base-* are default fonts prioritized by Citizen.
 * --font-family-language-* are language-specific fonts from the language RL module.
 * They are empty by default but populated by Citizen language modules such as the CJK one.
 */
@font-family-base: var(--font-family-citizen-base), var(--font-family-language-base), system-ui, -apple-system, sans-serif;
@font-family-serif: var(--font-family-citizen-serif), var(--font-family-language-serif), 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
@font-family-monospace: var(--font-family-citizen-monospace), var(--font-family-language-monospace), 'Menlo', 'Consolas', 'Liberation Mono', 'Fira Code', 'Courier New', monospace;

/* == Colors == */

/*
 * Syntax highlight colors
 * Based on Material Theme Lighter
 * https://material-theme.site
 */
@color-syntax-red: oklch(0.396 0.141 25.723);
@color-syntax-orange: oklch(0.646 0.222 41.116);
@color-syntax-yellow: oklch(0.769 0.188 70.08);
@color-syntax-green: oklch(0.532 0.157 131.589);
@color-syntax-cyan: oklch(0.609 0.126 221.723);
@color-syntax-blue: oklch(0.3166 0.1496 262.5219);
@color-syntax-paleblue: oklch(0.685 0.169 237.323);
@color-syntax-purple: oklch(0.381 0.176 304.987);
@color-syntax-brown: oklch(0.268 0.007 34.298);
@color-syntax-pink: oklch(0.712 0.194 13.428);
@color-syntax-violet: oklch(0.5495 0.1615 297.66);
@color-syntax-grey: oklch(0.442 0.017 285.786);

/*
 * Syntax highlight colors
 * Based on Material Theme Palenight
 * https://material-theme.site
 */
@color-syntax-red-dark: oklch(0.6484 0.2098 25.22);
@color-syntax-orange-dark: oklch(0.7273 0.0949 63.82);
@color-syntax-yellow-dark: oklch(0.8249 0.097 82.26);
@color-syntax-green-dark: oklch(0.7683 0.1103 133);
@color-syntax-cyan-dark: oklch(0.7231 0.0916 206.31);
@color-syntax-blue-dark: oklch(0.6149 0.1394 244.93);
@color-syntax-paleblue-dark: oklch(0.7304 0.1213 245.3);
@color-syntax-purple-dark: oklch(0.5786 0.2468 288.24);
@color-syntax-brown-dark: oklch(0.7912 0.0755 188.24);
@color-syntax-pink-dark: oklch(0.6709 0.1448 17);
@color-syntax-violet-dark: oklch(0.6936 0.1635 318.21);
@color-syntax-grey-dark: oklch(0.7621 0.0202 262.99);

/* == Box model properties == */
/* `--*size` variables are used for width & height properties. */
@size-icon: 1.25rem;
@header-size: 3.5rem; // Used outside header too
@width-layout: 1080px; // 67.5rem at 16px; fixed px to avoid shifting with font size
@width-toc: 240px; // TODO: Revise; fixed value not ideal

/* Paddings */
@padding-page: 16px;

/* Transitions */
@transition-hover: var(--transition-duration-base) var(--transition-timing-function-ease);
@transition-menu: var(--transition-duration-medium) var(--transition-timing-function-ease-out);

/*
 * Legacy colors
 * Used by SMW skinstyles and some MW UI elements.
 * These should be migrated to the new standard.
 * Once replaced, remove these LESS variables.
 */
@dark-bg-10: oklch(0.2472 0.0164 264.21);
@dark-bg-20: oklch(0.2676 0.0143 261.68);
@dark-bg-30: oklch(0.2731 0.0155 269.11);
@dark-bg-40: oklch(0.3041 0.0138 261.71);
@dark-bg-50: oklch(0.3327 0.013 267.15);
@dark-bg-60: oklch(0.3396 0.0134 261.73);
